        <footer class="footer">
            <div class="footer__inner inner">
                <div class="footer__main"><a class="footer__logo" href=""><img src="img/logo-gray.svg" alt=""></a>
                    <div class="footer__links">
                        <div class="footer__link"><a class="link-full" href=""></a><img src="img/franchise.png" alt="">
                            <div class="footer__link-txt"><span>Франшиза</span>
                                <p>ElectroStreet</p>
                            </div>
                        </div>
                        <div class="footer__link"><a class="link-full" href=""></a><img src="img/localization.png" alt="">
                            <div class="footer__link-txt"><span>Магазины</span>
                                <p>ElectroStreet</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__col _menu">
                    <div class="footer__title">ElectroStreet</div>
                    <nav class="footer__menu"><a href="">О компании</a><a href="">Сервисный центр</a><a href="">Франшиза</a><a href="">Магазины</a><a href="">Сертификаты</a><a href="">Отзывы</a><a href="">Реквизиты</a><a href="">Вакансии</a><a href="">Контакты</a></nav>
                </div>
                <div class="footer__col _menu">
                    <div class="footer__title">Покупателю</div>
                    <nav class="footer__menu"><a href="">Доставка и оплата</a><a href="">Гарантия и возврат</a><a href="">Рассрочка и кредит</a><a href="">Сезонное хранение</a><a href="">Юридическим лицам</a><a href="">Подарочные сертификаты</a><a href="">Частые вопросы</a><a href="">Обзоры</a><a href="">Блог</a></nav>
                </div>
                <div class="footer__col">
                    <div class="footer__title _no-mob">Контакты</div>
                    <div class="footer__contacts">
                        <div class="footer__contact">
                            <div class="footer__phones"><a href="tel:+74994440390">+7 (499) 444-03-90</a><a href="tel:+79932484851">+7 (993) 248-48-51</a></div><a href="mailto:info@electrostreet.ru">info@electrostreet.ru</a>
                        </div>
                        <div class="social _3-el"><a href=""><img src="img/tg.svg" alt=""></a><a href=""><img src="img/wa.svg" alt=""><span>*</span></a><a href=""><img src="img/max.svg" alt=""></a><a href="mailto:info@electrostreet.ru"><img src="img/mail.svg" alt=""></a></div>
                        <div class="footer__contact">Нижний Новгород, <br>ул. Выдуманная Длинная, д.25 А<small>С 10:00 до 20:00 Без выходных</small></div>
                    </div>
                </div>
                <div class="footer__col">
                    <div class="footer__title">Наши медиа</div>
                    <div class="footer__contacts">
                        <div class="social _gray"><a href=""><img src="img/tg.svg" alt=""></a><a href=""><img src="img/yb.svg" alt=""></a><a href=""><img src="img/dzen.svg" alt=""></a><a href=""><img src="img/vk.svg" alt=""></a><a href=""><img src="img/tt.svg" alt=""></a><a href=""><img src="img/ig.svg" alt=""><span>**</span></a><a class="_multicolor" href=""><img src="img/rb.svg" alt=""></a><a class="_multicolor" href=""><img src="img/vkv.svg" alt=""></a></div>
                        <div class="footer__footnote">
                            <p>* Является продуктом компании экстремистской компании Meta, деятельность которой запрещена на территории РФ</p>
                            <p>** Признана экстремистской и запрещена в России</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="footer-bottom">
            <div class="footer-bottom__inner inner">
                <div class="footer__info">
                    <p>© 2012 - 2025 ElectroStreet</p>
                    <p>Все права защищены</p>
                    <p>Не является публичной офертой</p><a href="">Политика конфиденциальности</a>
                </div>
                <div class="footer__payment"><img src="img/sbp.svg" alt=""><img src="img/mir.svg" alt=""><img src="img/tpay.svg" alt=""><img src="img/sber.svg" alt=""></div>
            </div>
        </footer>
        <!--script(src="js/_swiper-bundle.min.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/jquery/jquery-2.1.1.min.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/bootstrap/js/bootstrap.min.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/progroman/jquery.progroman.autocomplete.js?v=8.3-0" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/progroman/jquery.progroman.citymanager.js?v=8.3-0" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/jquery/swiper/js/swiper.jquery.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/jquery/sidebar_menu/menuaim.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/jquery/datetimepicker/moment/locales.min.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/theme/electrostreet/js/advanced_popup_cart.js?mv=2.7.0" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/common.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/buyoneclick.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/sourcebuster.min.js" defer="")-->
        <!--script(src="https://electrostreet.ru/catalog/view/javascript/jquery.mask.min.js" defer="")-->
        <script src="https://electrostreet.ru/js/_swiper-bundle-min.js" defer=""></script>
        <script src="https://electrostreet.ru/js/_mask-min.js" defer=""></script>
        <script src="https://electrostreet.ru/js/_calendar.js" defer=""></script>
        <script src="https://electrostreet.ru/js/_fancybox-min.js?v=with_rutube" defer=""></script>
        <script src="https://electrostreet.ru/js/script-min.js?v=2" defer=""></script>
        <script src="https://electrostreet.ru/catalog/view/theme/electrostreet/js/megamenu.js?v=2" defer=""></script>
        <!--script(src="https://code-ya.jivosite.com/widget/CIUAbbRySb" defer="")-->
        <!--script(src="https://vk.com/js/api/openapi.js?121" defer="")-->
        <!--script(src="https://res.smartwidgets.ru/app.js" defer="")-->
        <!--script(src="https://mc.yandex.ru/metrika/watch.js" defer="")-->
        <!--script(src="https://widgets.mango-office.ru/widgets/mango.js" defer="")-->
        <!--script(src="https://vk.com/dist/public/api/openapi.7fd8db35650ba51a8f05c0269f8a1e87.js?121" defer="")-->
        <!--script(src="https://vk.com/js/api/openapi.js?169" defer="")-->
        <!--script(src="https://vk.com/dist/public/api/openapi.7fd8db35650ba51a8f05c0269f8a1e87.js?169" defer="")-->
        <!--script(src="https://code.jivo.ru/js/bundle_ru_RU.js?rand=1750330687" defer="")-->
        <!--script(src="https://dct.mango-office.ru/calltracking/29681?uid=pOJ6Z0qs6sczeRZlaIe3&sid=sa4qsydhvd1100t1t328&url=https%3A%2F%2Felectrostreet.ru%2F&title=ElectroStreet.ru%3A%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%20%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D1%82%D1%80%D0%B0%D0%BD%D1%81%D0%BF%D0%BE%D1%80%D1%82%D0%B0%20%D0%B2%20%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B5&is_cookies=true&src=yandex&mdm=organic&cmp=(none)&cnt=%2F&trm=(none)&mango=(none)&callback=mgo813044097919" defer="")-->
        <!--script(src="https://res.smartwidgets.ru/app/402ecfb859370431edf243872cab8b74.js?1750789812326" defer="")-->
        <!--script(src="https://res.smartwidgets.ru/app/aa41c428f11335405647970297b2dbed.js?1750789812326" defer="")-->
        <!--script(src="https://dct.mango-office.ru/calltracking/29681?uid=pOJ6Z0qs6sczeRZlaIe3&sid=sa4qsydhvd1100t1t328&url=https%3A%2F%2Felectrostreet.ru%2F&title=ElectroStreet.ru%3A%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%20%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D1%82%D1%80%D0%B0%D0%BD%D1%81%D0%BF%D0%BE%D1%80%D1%82%D0%B0%20%D0%B2%20%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B5&is_cookies=true&src=yandex&mdm=organic&cmp=(none)&cnt=%2F&trm=(none)&mango=(none)&yaCid=1750789561732089471&jsCid=4920483&callback=mgo635937417899" defer="")-->
        <!--script(src="https://dct.mango-office.ru/widgetparam/29681/ctsite?callback=mgo298485843602" defer="")-->
        <!--script(type='text/javascript').
      $('#form-formcreator82').on('submit', function(e) {
          e.preventDefault();
          var that = $(e.target);
          $.ajax({
              url: 'index.php?route=extension/module/formcreator/send',
              type: 'post',
              data: $(this).serialize(),
              dataType:'json',
              success: function(data) {
                  if (data['error']) {
                      $('.form-creator .text-danger').remove();
                      if (data['error']) {
                          var error = $('<div class="text-left alert alert-danger">'+ data['error'] +'</div>');
                          that.prepend(error);
                      }
                      return;
                  }
                  $('#errorform .alert-danger').remove();
                  alertForm({form: that, msg: data['success']});
                  that.find('input[type=\\'text\']').val('');
                  that.find('textarea').val('');
              },
          });
      });
      function alertForm(alert) {
          var div = $('<div class="text-left alert alert-success" style="display: none;">' + alert.msg + '</div>');
          alert.form.prepend(div);
          div.slideDown(400).delay(3000).slideUp(400, function() {
              alert.form.closest('.modal').modal('hide');
              div.remove();
          });
      }
      -->
        <!--script(type='text/javascript').
      $(document).on('keyup', 'header input[name="search"]', function(e) {
          if (e.keyCode == 40 || e.keyCode == 38) {
              return;
          }
          var search = $(this).val();
          var input = $(this);
          $.ajax({
              url: 'index.php?route=extension/module/smartsearch',
              type: 'post',
              data: 'search=' + search,
              dataType: 'json',
              beforeSend: function() {
              },
              complete: function() {
              },
              success: function(json) {
                  //alert(json)
                  if (input.parent().find('.smartsearch').length == 0) {
                      input.after('<div class="smartsearch"></div>');
                  }
                  if (json['html']) {
                      $('.smartsearch').html(json['html']);
                      $('.smartsearch').show();
                  } else {
                      $('.smartsearch').html('');
                      $('.smartsearch').hide();
                  }
              },
              error: function(xhr, ajaxOptions, thrownError) {
                  //alert(thrownError + " " + xhr.statusText + " " + xhr.responseText);
              }
          });
      });
      $(document).on('keyup', 'header input[name="search"]', function(e) {
          var smartsearch = $(this).parent().find('.smartsearch');
          if (e.keyCode == 40) {
              if (smartsearch.find('.item').length > 0) {
                  if (smartsearch.find('.item.current').length == 0) {
                      smartsearch.find('.item').first().addClass('current')
                  } else {
                      var el = smartsearch.find('.item.current');
                      el.removeClass('current');
                      if (el.next().length == 0) {
                          smartsearch.find('.item').first().addClass('current')
                      } else {
                          el.next().addClass('current');
                      }
                  }
                  $(this).val(smartsearch.find('.item.current').attr('search_name'));
              }
          }
          if (e.keyCode == 38) {
              if (smartsearch.find('.item').length > 0) {
                  if (smartsearch.find('.item.current').length == 0) {
                      smartsearch.find('.item').last().addClass('current')
                  } else {
                      var el = smartsearch.find('.item.current');
                      el.removeClass('current');
                      if (el.prev().length == 0) {
                          smartsearch.find('.item').last().addClass('current')
                      } else {
                          el.prev().addClass('current');
                      }
                  }
                  $(this).val(smartsearch.find('.item.current').attr('search_name'));
              }
          }
      });
      $(document).on('focus', 'header input[name="search"]', function(e) {
          var smartsearch = $(this).parent().find('.smartsearch');
          if (smartsearch.find('.items>.item').length > 0) {
              smartsearch.show();
          }
      });
      $(document).mouseup(function (e) {
          var container = $('header input[name="search"]');
          if (!container.is(e.target) && container.has(e.target).length === 0) {
              container.parent().find('.smartsearch').hide();
          }
      });
      
      
      -->

    <script src="{{ 'assets/js/_ion.rangeSlider.min.js' | theme }}" defer=""></script>
    <script src="{{ 'assets/js/script.min.js' | theme }}" defer=""></script>